*{
    margin: 0;
    padding: 0;}
.container{
    margin: 0;
    padding: 0;}
.btn2{
   position: absolute;
    top: 30px ;
    left: 1000px;
    width: 132px;
    height: 42px;
    background: linear-gradient(90.35deg, #2563EB 0.36%, #D946EF 201.02%);
    border-radius: 5px;}
.section-logo img{
    margin-left: 700px;
  width: 500px;
    margin-top: -450px;}
.section-logo h1{
   color:  #D946EF;
margin-top: 190px;
font-size: 40px;}
.section-logo button{
    margin-top: 31px;}
.section-logo center{
    margin-top: -100px;
    margin-left: 100px;}
.section1-logo h1{
    color: #2563EB;
    margin-left: 500px;
    margin-top: -300px;
    font-size: 20px;}
.section1-logo img{
    width: 400px;}
.section1-logo p{
    margin-left: 400px;
    color: #D946EF;}
.section1-logo center{
color: black;
    margin-top: 600px;
    margin-left: -300px;}
.inp{
    margin-left: 100px;}
.jef{
    height: 200px;
    margin-top:130px ;}
.mini{box-sizing: border-box;
    width: 370px;
    height: 336px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;}
.menu1 img{
  margin-top: 100px;}
.menu1 h1{
    margin-left: 100px;}
.menu1 p{
    margin-left: 50px;
margin-top:30px ;}
.menu1 button{
    margin-left: 100px;
    margin-top:50px ;}
.ali{
    margin-left: 420px;
    margin-top: -430px;
}
.src{
    margin-left: 830px;
    margin-top: -430px;
}
.mini{box-sizing: border-box;
    width: 370px;
    height: 336px;
    background: linear-gradient(268.12deg, rgba(254, 254, 255, 0.032) -11.04%, rgba(255, 255, 255, 0.018) 104.89%);
    box-shadow: 0 22px 18px rgba(0, 0, 0, 0.05);
    border-radius: 34px;}
.menu2 img{
    margin-top: 100px;}
.menu2 h1{
    margin-left: 100px;}
.menu2 p{
    margin-left: 50px;
    margin-top:30px ;}
.menu2 button{
    margin-left: 100px;
    margin-top:50px ;}
.ali{
    margin-left: 420px;
    margin-top: -430px;
}
.src{
    margin-left: 830px;
    margin-top: -430px;
}

